altgraph==0.10.2
annoy @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/annoy-1.16.3-cp27-cp27m-macosx_10_9_x86_64.whl
asn1crypto==0.24.0
astroid==1.6.6
backports.functools-lru-cache==1.6.1
bdist-mpkg==0.5.0
bonjour-py==0.3
boto3==1.16.30
botocore==1.19.30
bz2file==0.98
certifi==2020.11.8
cffi==1.12.2
chardet==3.0.4
click==7.1.2
configparser==4.0.2
cryptography==2.6.1
cssselect==1.1.0
enum34==1.1.6
fasteners @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/fasteners-0.15-py2.py3-none-any.whl
Flask==1.1.2
future @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/future-0.18.2-py2-none-any.whl
futures==3.3.0
gensim==3.8.3
h5py @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/h5py-2.10.0-cp27-cp27m-macosx_10_6_intel.whl
idna==2.10
ipaddress==1.0.22
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.5.2
lxml==3.5.0
lz4 @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/lz4-2.2.1-cp27-cp27m-macosx_10_6_intel.whl
macholib==1.5.1
MarkupSafe==1.1.1
matplotlib==1.3.1
mccabe==0.6.1
modulegraph==0.10.4
monotonic==1.5
numpy==1.16.6
oauthlib==3.1.0
py2app==0.7.3
pycparser==2.19
pylint==1.9.5
pymagnitude==0.1.143
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==19.0.0
pyparsing==2.0.1
pyquery==1.2.10
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2013.7
requests==2.25.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
scipy==0.13.0b1
singledispatch==3.4.0.3
six==1.15.0
smart-open==1.10.1
spotipy==2.16.1
torch @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/torch-1.5.0-cp27-none-macosx_10_7_x86_64.whl
tweepy==3.9.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
xattr==0.6.4
xxhash @ file:///var/folders/30/bj29818s67v3r0lt702hxpzr0000gn/T/pymagnitude-0.1.143-cp27-cp27m-macosx_10_9_x86_64/pymagnitude/req_wheels/xxhash-1.4.3-cp27-cp27m-macosx_10_6_intel.whl
